@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* Colors */
    --color-primary: #115cde;
    --color-secondary: #000c23;
    --color-accent: #3498db;
    --color-bg: #f3f9fd;
    --color-accent-2: #22bef9;
    --color-accent-3: #ff2674;
    --color-accent-4: #ebedfb; /* light blue */
    --color-accent-5: #edfaff; /* light teal */
    --color-accent-6: #d9ddf8; /* light purple */
    --color-accent-7: #ffeef4; /* light pink */
    --color-grey-1: #444444;
    --color-grey-2: #3a3a3a;
    --color-border: rgba(52, 152, 219, 0.15);
    --box-shadow-1: 0px 0px 10px 0px rgba(182, 204, 243, 0.5);
    /* Fonts */
    --font-nunito-sans: "Nunito Sans", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-raleway: "Raleway", sans-serif;
    /* Sizes */
    --size-xs: 0.75rem; /*    12px  */
    --size-sm: 0.875rem; /*   14px  */
    --size-md: 0.938rem; /*   15px  */
    --size-base: 1rem; /*     16px  */
    --size-lg: 1.125rem; /*   18px  */
    --size-xl: 1.25rem; /*    20px  */
    --size-2xl: 1.5rem; /*    24px  */
    --size-3xl: 1.875rem; /*  30px  */
    --size-4xl: 2.25rem; /*   36px  */
    --size-5xl: 2.5rem; /*    40px  */
    --size-6xl: 3rem; /*      48px  */
    --size-7xl: 3.5rem; /*    56px  */
    --size-8xl: 4rem; /*      64px  */
    --size-9xl: 4.5rem; /*    72px  */
    --size-10xl: 6.25rem; /*  100px */
    --size-11xl: 7.5rem; /*   120px */
}

body {
    font-family: var(--font-inter) !important;
    /* height: 100vh; */
    /* overflow: hidden; */
}
h2 {
    font-weight: normal !important;
}

.logo {
    width: 3.5rem;
    height: 2rem;
}
header {
    position: sticky;
    top: 0;
    z-index: 1500;
}
.btn {
    border-radius: 10px !important;
}
.sidebar {
    width: 280px;
    overflow-y: auto !important;
    transition: all 0.4s ease;
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.2) !important;
}
.sidebar.collapsed {
    /* transform: margin-left 0.3 ease; */
    width: 0px;
    padding: 0 !important;
    transition: all 0.4s ease;
}
#sidebarBackdrop {
    z-index: 30;
    background-color: #000c23!important;
    opacity: 0.7;
}
.nav-pills .nav-link {
    border-radius: 10px;
}

.sidebar-icon {
    height: 22px;
}

main .content-wrapper {
    width: 100%;
    min-height: 100vh;
    overflow-y: auto !important;
    background-color: #f8f8f8;
    transition: margin-left 0.3s ease;
}
.section-heading {
    margin-left: 0px;
}
.content-section + .active {
    display: block !important;
}
.content-section {
    display: none;
}
.stat-card {
    border-radius: 10px;
}
#employee_search_input {
    border-radius: 10px;
}
.view-emp .table-responsive {
    height: calc(100vh - 270px);
    border: 1px solid #ced4da;
    border-radius: 10px;
    overflow-y: scroll;
}
#employee-table tbody {
    font-size: var(--size-sm);
}
.table-wrapper {
    border-radius: 10px;
}
thead {
    position: sticky;
    top: -2px;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid black;
}

td,
th,
td {
    text-wrap: nowrap;
}
tr {
    vertical-align: middle !important;
}
th:first-child {
    position: sticky;
    left: 0px;
    background-color: white;
    text-wrap: nowrap;
}
td:first-child {
    position: sticky;
    left: -1px;
    background-color: rgb(241, 241, 241) !important;
}
.dropdown-toggle::after {
    display: none;
}
.action {
    position: sticky;
    right: 0;
}
th:last-child {
    position: sticky;
    right: -1px;
    background-color: white;
    text-wrap: nowrap;
}
td:last-child {
    position: sticky;
    right: 0px;
    background-color: rgb(241, 241, 241) !important;
    /* height: 65px; */
    vertical-align: middle;
}
.btn-action {
    padding: 2px 15px !important;
    border-radius: 8px;
    font-size: var(--size-sm);
    color: white;
}
/* .btn-action:hover {
    color: white;
}
.btn-view {
    background-color: rgb(43, 117, 255) !important;
}
.btn-view:hover {
    background-color: rgb(37, 100, 218) !important;
}
.btn-edit {
    background-color: rgb(248, 198, 60) !important;
}
.btn-edit:hover {
    background-color: rgb(236, 183, 35) !important;
}
.btn-delete {
    background-color: rgb(255, 50, 91) !important;
}
.btn-delete:hover {
    background-color: rgb(243, 50, 89) !important;
} */
#addEmployeeFormModal .modal-content,
#editEmployeeFormModal .modal-content {
    border-radius: 10px !important;
    border: 0px;
}
#addEmployeeFormModal .modal-header,
#editEmployeeFormModal .modal-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#addEmployeeFormModal .modal-header .btn-close,
#editEmployeeFormModal .modal-header .btn-close {
    color: white !important;
}

#edit_confirm_btn_spinner,
#add_employee_btn_spinner {
    width: var(--size-md);
    height: var(--size-md);
    border-width: 2px !important;
    margin-right: 5px;
}

.view-emp-details-section .lucide {
    width: 10px;
    height: 10px;
}
.view-details-card {
    border-radius: 10px !important;
}

.list-group-item p {
    margin: 0;
}

@media only screen and (max-width: 576px) {
    .btn {
        font-size: var(--size-sm);
    }
    .view-emp .table-responsive {
        height: calc(100vh - 280px);
    }
    .sidebar {
        position: fixed;
        width: 250px;
        height: 100%;
        z-index: 100;
    }
    .sidebar .nav .nav-link {
        font-size: var(--size-sm);
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .sidebar {
        position: fixed;
        width: 250px;
        height: 100%;
        z-index: 100;
    }
}
